leave/55.json
{
  "name": "My workflow 5",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1cgV4zWZuMenQwc39OJafOxHuR_zcEK6yHDUOGIY1ths",
          "mode": "list",
          "cachedResultName": "reminder",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cgV4zWZuMenQwc39OJafOxHuR_zcEK6yHDUOGIY1ths/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cgV4zWZuMenQwc39OJafOxHuR_zcEK6yHDUOGIY1ths/edit#gid=0"
        },
        "event": "rowUpdate",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ae8969d3-250c-419c-8a32-c9e03ba82459",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "8d0Ft1StHjYdZspG",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are my personal finance assistant.\n\nCreate a short and clear payment reminder message for me to follow up on an overdue invoice.\n\nInput:\nInvoice Number{{ $json.Invoice }}: \nDue Date:{{ $json.date }}\nEmail ID:{{ $json['Mail id'] }}\n\nThe tone should be concise and task-focused.\n\nOutput format:\n---\nSubject: Payment Reminder - Invoice #{{ $json[\"Invoice\"] }}\nBody: Reminder to follow up on Invoice #{{ $json[\"Invoice\"] }} due on{{ $json.date }} . Send the reminder to {{ $json['mail id'] }}\n---{{ $json['mail id'] }} sne d a single email",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "8c57cfb4-0633-4d76-a465-94bb186af5b2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        240,
        220
      ],
      "id": "08ed118d-a11f-461f-9798-9f93a435a359",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "nvyZDYsvkS1qjHfb",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "pranesh.j.ihub@snsgroups.com",
          "mode": "list",
          "cachedResultName": "pranesh.j.ihub@snsgroups.com"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        380,
        220
      ],
      "id": "e817f275-d4dd-4eb6-81a6-58482a2bdb95",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "u4PUGWq3TVmbQGXb",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1cgV4zWZuMenQwc39OJafOxHuR_zcEK6yHDUOGIY1ths",
          "mode": "list",
          "cachedResultName": "reminder",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cgV4zWZuMenQwc39OJafOxHuR_zcEK6yHDUOGIY1ths/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cgV4zWZuMenQwc39OJafOxHuR_zcEK6yHDUOGIY1ths/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        600,
        220
      ],
      "id": "9f5d2438-3bfd-4ab3-ae01-c41b1c7137be",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tEKHW0lVgQ1RNDEl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "chandanapadmanabhan@gmail.com",
        "subject": "hi",
        "emailType": "text",
        "message": "={{ $('AI Agent').item.json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        720,
        220
      ],
      "id": "10f2e1a0-fc8d-4617-b4ac-fcce62034136",
      "name": "Gmail",
      "webhookId": "9b4cb3d8-6730-4dda-be12-5c6b02047d9b",
      "credentials": {
        "gmailOAuth2": {
          "id": "QKaczNSOG2QEYf0N",
          "name": "Gmail account 5"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "56bb7265-70a9-4914-b298-f5f9b10c247b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b2e847aea1afbad20bc986fdcca4d73233c1a19e7b9e6c4bff5fd7fc4c14840c"
  },
  "id": "EtDo0ImmA33AykmA",
  "tags": []
}